<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>auth</title>
</head>
<body>
	<pre>
<h1>Authenticating with Google</h1>
<table border="1" style="text-align: left" >
	<tr>
		<th><img src="<%= @auth['info'].image %>" alt="foto del usuario" height="100" width="100"></th>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Nombre: <%=@auth['info'].first_name %>
			Apellidos: <%=@auth['info'].last_name %>
			Email: <%=@auth['info'].email %>

		</th>
	</tr>
</table>
<p>Todos los datos:</p>
<%= @auth.inspect.to_yaml %>
</pre>
</body>
</html>
